Flask==0.11.1
Flask-Ask==0.8.2
matplotlib==1.5.1
numpy==1.11.2
oauthlib==2.0.0
pandas==0.19.1
pickleshare==0.7.4
python-dateutil==2.6.0
Quandl==3.0.1
requests==2.10.0
requests-oauthlib==0.7.0
scikit-learn==0.18.1
scipy==0.18.1
sklearn==0.0
jsonschema==2.5.1
Unidecode==0.4.19